*{
    font-size: 10px;
}

.navbar{
    background: #001B85;
    
}

.navbar .nav-item .nav-link{
    color: #ffffff;
}


.footer{
    background: #001B85;
}

.footer .copyright{
    background: #002A56;
    color: #ffffff;
    padding: 2rem;
}

.informacion, .mapa, .nosotros {
    padding: 30px;
}

.redes {
    margin-bottom: 40px; 
}

.facebook, .twitter, .youtube, .LinkedIn{
    margin-right: 20px;
}

.nosotro1 {
    font-size: 1.5rem;


}

.nosotro2 {
    font-size: 14px;  

}
