
/*#region CSS del Header de la pagina*/
header {
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: rgba(0,27,133,0.83);
}
h1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3rem;
}
.nombre-empresa{
    -webkit-text-stroke: 0.6px white;
    color: red;
}
.logo-img{
    width: 5rem;
    height: 5rem;
}
.navbar{
    padding: 0;
}
.nav-item{
    padding: 1rem;
}
.nav-link{
    color: white !important;
    font-size: 1.8rem;
    font-family: "Open sans", sans-serif;
    text-align: center;
}
.icon-menu{
    width: 3.5rem;
    height: 3.5rem;
    background: url("../img/menu/menu-white.svg") no-repeat no-repeat;
}
/*#endregion CSS del Header de la pagina*/

/*#region CSS PARA OTROS COMPONENTES*/

/*#region CSS Globales*/
body{
    background-color: #F5F5F5;
}
main>.container{
    padding: 0;

}
main>.container>.row{
    margin: 0;
}
h3{
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 2.5rem;
}
/*#endregion CSS Globales*/

/*#region carousel testimonio*/
.carousel{
    width: 100%;
}
.carousel-img{
    width: 100%;
    height: 51rem;
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
    width: 3rem;
    height: 4rem;
}
.carousel-control-next-icon{
    background-image: url("../img/iconos/arrow/Right-arrow.svg");
}
.carousel-control-prev-icon{
    background-image: url("../img/iconos/arrow/Left-arrow.svg");
}

.carousel-mini{
    width: 9rem;
    height: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.testimonio-descripcion{
    font-size: 1.8rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
/*#endregion*/

/*#region card-testimonio*/
.title-slider-card{
    padding: 8rem 8rem 1rem 8rem;
}
.card-testimonio{
    padding: 4.5rem 5rem 4.5rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-testimonio{
    width: 22.4rem;
    height: 22.4rem;
    border-radius: 100%;
}
.card-titulo-testimonio{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.card-descripcion-testimonio{
    font-size: 1.4rem;
    padding: 1rem 1rem 1rem 1rem;
    text-align: justify;
}
.enlace-testimonio{
    font-weight: bolder;
    text-align: end;
}
.control-nav{
    position: absolute;
    top: 40%;
    width: 115.6rem;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.control-prev{
    background: url("../img/iconos/arrow/Left-arrow.svg") no-repeat;
    background-size: contain;
}
.control-next{
    background: url("../img/iconos/arrow/Right-arrow.svg") no-repeat;
    background-size: contain;
}
.control-prev,.control-next{
    width: 3rem;
    height: 5rem;
}

/*#endregion card-testimonio*/

/*#region carousel producto*/

.carousel-img-producto{
    width: 73rem;
    height: 50rem;
    padding: 0 15rem;
}
.carousel-mini-producto{
    width: 18rem;
    height: 16rem;
    padding: 0 .8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.carousel-descripcion-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.producto-titulo-descripcion{
    width: 100%;
    font-size: 2rem;
    text-align: start;
    font-weight: bolder;
    padding: 2rem;
}
.producto-descripcion{
    font-size: 1.6rem;
    text-align: justify;
    padding-right: 2rem;
    padding-left: 2rem;
}
.carousel-mini-productos{
    padding: 0;
    display: flex;
    justify-content: center;

}

/*#endregion carousel producto*/

/*#region carousel card producto*/
.producto-card{
    margin: 0 4.5rem;
    width: 30rem;
    text-align: center;
}
.producto-card-img{
    height: 30rem;
}
.slider-productos{
    padding: 2.5rem ;
}
h5{
  font-size: 2rem;
}
.producto-card-text,.producto-card-link{
    font-size: 1.4rem;
}
/*#endregion carousel card producto*/

/*#region componentes noticia*/

.titulo-noticia>h2{
    font-size: 3rem;
}
.texto-noticia p{
    font-size: 1.4rem;
    text-align: justify;
}
.texto-noticia h4{
    font-size: 1.8rem;
    font-weight: bolder;
}
.texto-noticia{
    padding: 2rem;
}
.img-noticia-sec{
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-noticia-sec>img{
    width: 40%;
}
.imagen-noticias {
    width: 100%;
    height: auto;
}

.publi-re a{
    font-size: 1.4rem;
}
.publi-re>h4{
    font-size: 2rem;
    padding: 2.5rem;
}

.input-noticias{
    width: 80% !important;
    border-radius: 0.8rem;
    height: 3.2rem;
    font-size: 1.4rem;
}
.btn-noticias{
    margin: 0 1rem;
    width: 3.2rem !important;
    height: 3.2rem;
    border: none;
    background: url("../img/iconos/search.svg");
}
.publi-re img{
    width: 3.2rem;
    height: 3.2rem;
}
.formulario-noticias{
    padding: 2.5rem 2.5rem 0 2.5rem;
}

.card-noticia{
    width: 47rem;
    height: 29rem;
    margin: 5.5rem;
}
.card-noticia-img{
    width: 100%;
    height: 100%;
}
.card-noticia-img>img{
    width: 100%;
    height: 100%;

}
.card-noticia-descripcion{
    color: white;
    background: rgba(0,0,0,0.95);
    position: relative;
    bottom: 38%;
    z-index: 10;
}
.card-noticia-titulo{
    padding: 1rem 2rem 0 2rem;
    font-size: 1.8rem;
}
.card-noticia-text{
    margin: 0;
    padding: 0 1rem 1rem 2rem;
    font-size: 1.4rem;
}


/*#endregion componentes noticia*/

/*#endregion CSS PARA OTROS COMPONENTES*/

/*#region Footer Para Resolucion de 1360 1280 e*/
footer{
    background-color: rgba(0,27,133,0.83);
}
footer>.row{
    margin: 0;
}
.footer-card{
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.footer-card>h5{
    padding-bottom: 1.5rem;
    font-size: 2rem;
    color: white;
}
.footer-card>p{
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
}
.footer-card>p>span{
    font-size: 1.5rem;
    color: white;
}

.footer-map{
    padding-top: 4rem;
}
.footer-map>iframe{
    width: 45rem;
    height: 32rem;
}

.footer-noticia{
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.footer-noticia>.row{
    margin: 0;
}
.footer-noticia>h5{
    padding-bottom: 1rem;
    font-size: 2rem;
    color: white;
}
.footer-noticia>.row>p{
    padding: 0;
    font-size: 1.5rem;
    color: white;
}
.footer-noticia>.row>div>a{
    color: white;
    font-size: 1.5rem;
}
.footer-noticia-img{
    width: 40rem;
    height: 30rem;
}

.footer-redes-sociales{
    padding: 1rem;
}
.footer-redes-sociales>img{
    margin-left: 1rem;
    margin-right: 1rem;
}
.footer-redes-sociales>img{
    width: 5rem;
    height: 5rem;
}

.copyright{
    margin-top: 1rem;
    height: 4rem;
    background: #002A56;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright>p{
    text-align: center;
    color: white;
    font-size: 1.2rem;
}
/*#endregion Footer Para Resolucion de 1360 1280 e*/

/*#region Para que la pagina sea Resposive */
@media (min-width: 1920px) {
    /*#region CSS del Header de la pagina*/
    header{
        padding-left: 6rem;
        padding-right: 6rem;
    }
    h1{
        font-size: 4rem;
    }
    .logo-img{
        width: 6.5rem;
        height: 6.5rem;
    }

    .nav-link{
        color: white;
        font-size: 2rem;
    }
    /*#endregion CSS del Header de la pagina*/

    /*#region CSS PARA OTROS COMPONENTES*/

    main>.container{
        max-width: 164rem;
    }
    main>.container>.row{
        padding: 0 4rem;
        max-width: 164rem;
    }
    h3{
        font-size: 3rem;
        font-weight: bolder;
    }
    .carousel-img{
        width: 100%;
        height: 60rem;
    }
    .carousel-mini{
        width: 12rem;
        height: 10rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .testimonio-descripcion{
        font-size: 2rem;
    }

    /*#endregion CSS PARA OTROS COMPONENTES*/

    /*#region card-testimonio*/
    .card-testimonio{
        padding: 4.5rem 5rem 4.5rem 5rem;
    }
    .card-img-testimonio{
        padding: 0 3rem 0 2rem !important;
    }
    .img-testimonio{
        height: 26rem;
    }
    .card-titulo-testimonio{
        font-size: 2.6rem;
    }
    .card-descripcion-testimonio{
        font-size: 1.8rem;
        padding: 1rem 2.5rem 0rem 2.5rem;
    }
    .enlace-testimonio{
        padding-right: 2.5rem;
    }
    .enlace-testimonio>a{
        font-size: 1.4rem;
    }
    .control-nav{
        width: 164rem;
    }

    /*#endregion card-testimonio*/

    /*#region carousel de producto*/
    .carousel-img-producto{
        width: 100rem;
        height: 60rem;
        padding: 0 27rem;
    }
    .producto-titulo-descripcion{
        font-size: 2.8rem;
        padding: 2rem 6rem;
    }
    .producto-descripcion{
        font-size: 2.05rem;
        padding: 0 6rem;
    }
    /*#endregion carousel de producto*/

    /*#region carousel card producto*/
    .producto-card{
        margin: 0 6.2rem;
        width: 42rem;
    }
    .producto-card-img{
        height: 42rem;
    }
    h5{
        font-size: 2.4rem;
    }
    .producto-card-text,.producto-card-link{
        font-size: 2rem;
    }
    /*#endregion carousel card producto*/

    /*#region card noticia*/

    .card-noticia{
        width: 67rem;
        height: 41rem;
        margin: 7rem;
    }
    .card-noticia-descripcion{
        bottom: 32%;
    }
    .card-noticia-titulo{
        padding: 1rem 2rem 0 2rem;
        font-size: 2rem;
    }
    .card-noticia-text{
        font-size: 1.8rem;
    }

    /*#endregion card noticia*/

    /*#region Footer para resolucion de 1920px e*/
    .footer-card{
        padding: 5rem;
    }
    .footer-card>h5{
        padding-bottom: 1.5rem;
        font-size: 3rem;
    }
    .footer-card>p{
        margin: 0.5rem;
        font-size: 2.5rem;
    }
    .footer-card>p>span{
        font-size: 2rem;
        color: white;
    }


    .footer-map>iframe{
        width: 55rem;
        height: 40rem;
    }

    .footer-noticia{
        padding-top: 4rem;
        padding-left: 3rem;
    }
    .footer-noticia>h5{
        color: white;
    }
    .footer-noticia>.row{
        width: 55rem;
    }
    .footer-noticia>.row>p{
        font-size: 2rem;
    }
    .footer-noticia>.row>div>a{
        font-size: 2rem;
    }
    .footer-noticia-img{
        width: 55rem;
        height: 35rem;
    }

    .footer-redes-sociales>img{
        width: 6.5rem;
        height: 6.5rem;
    }

    .copyright>p{

        font-size: 1.6rem;
    }
    /*#endregion*/
}
@media (max-width: 480px) {
    /*#region CSS del Header de la pagina*/
    header{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .navbar{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    h1{
        font-family: sans-serif;
        font-size: 2rem;
    }
    .nombre-empresa{
        -webkit-text-stroke: 0.1px white;
        color: red;
    }
    .logo-img{
        width: 4.5rem;
        height: 4.5rem;
    }
    /*#endregion CSS del Header de la pagina*/

    /*#region footer para resolucion de 480px*/
    .footer-noticia-img{
        width: 100%;
        height: 30rem;
    }
    /*#endregion*/

    /*#region carousel testimonio*/

    .carousel-mini-testimonio{
        display: none !important;
    }

    .carousel-img{
        height: 45rem;
    }

    /*#endregion carousel testimonio*/


    /*#region carousel producto*/
    .carousel-img-producto{
        padding: 0;
        width: 45rem;
    }

    .carousel-mini-producto{
        display: none;
    }
    /*#endregion carousel producto*/

    /*#region carousel card producto*/
    .control-nav{
        display: none;
    }
    .producto-card{
        margin: 0 6.5rem;
        width: 35rem;
    }
    .producto-card-img{
        height: 35rem;
    }
    /*#endregion carousel card producto*/

    /*#region card noticia*/

    .card-noticia{
        width: 43rem;
        height: 33rem;
        margin: 2.5rem;
    }
    .card-noticia-descripcion{
        bottom: 32%;
    }
    .card-noticia-titulo{
        padding: 1rem 2rem 0 2rem;
        font-size: 1.5rem;
    }
    .card-noticia-text{
        font-size: 1.4rem;
    }

    /*#endregion card noticia*/

}
@media (max-width: 380px){
    /*#region CSS del Header de la pagina*/
    h1{
        font-family: sans-serif;
        font-size: 1.5rem;
    }
    /*#endregion CSS del Header de la pagina*/

    /*#region card noticia*/

    .card-noticia{
        width: 33rem;
        height: 21rem;
        margin: 2rem;
    }
    .card-noticia-descripcion{
        bottom: 32%;
    }
    .card-noticia-titulo{
        padding: 1rem 2rem 0 2rem;
        font-size: 1.4rem;
    }
    .card-noticia-text{
        font-size: 1rem;
    }

    /*#endregion card noticia*/
}
/*endregion Para que la pagina sea Resposive */